<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-title">
      <h3 class="text-center main-bg p-3">Candidate Details</h3>
    </div>
    <div class="card-body text-dark ">
      <div class="card w-75 d-flex justify-content-center border-0 mx-auto">
      <form action="" class="form-group customhover">

          <h5>upload profile will come here</h5>
          <label for="username">Name<sup class="text-danger">*</sup></label>
         <input type="text" name="" value="" placeholder="Enter your name" class="form-control ">
         <label for="email">Email<sup class="text-danger">*</sup></label>
         <input type="email" name="" value="" placeholder="Enter your email" class="form-control border border-dark">
         <label for="email">Date of Birth<sup class="text-danger">*</sup></label>
         <input type="date" name="" value="" placeholder="Enter your email" class="form-control border border-dark">
         <label for="email">hh<sup class="text-danger">*</sup></label>
         <input type="email" name="" value="" placeholder="Enter your email" class="form-control border border-dark">

    </form>
  </div>
  </div>
</div>
</div>