<div class="container-fluid bg-light">
    <h1 class="text-muted text-center">VHR</h1>
</div>

<div class="container-fluid login-bg height">
    <div>
        <h1 class="text-light text-center pt-3">Logo And Company Name</h1>
    </div>
    <div class="w-50 bg-light mx-auto mt-5">
        <div class="card p-4">
            <form action="/home" method="GET" class="form-group ">
                <h1 class="text-dark text-center sin "> Sign in</h1>
                <input type="text" name="" value="" placeholder="UserName" class="form-control mt-3 p-4" #name>
                <input type="password" name="" value="" placeholder="Password" class="form-control mt-3 p-4" #password>
                <button type="submit" class="form-control login-button mt-4 "
                    (click)="valid(name.value,password.value)">
                    <h4>Sign in </h4>
                </button>
            </form>
        </div>
    </div>
</div>